<h1>Random Calculator</h1>
<p>Calculate everything you want! (Choose an option below)</p>

<div classs="main">
    <div class="glass-container">

        <a asp-controller="Random" asp-action="temp">
        <div class="content">
            <h5>Temperature Converter</h5>
        </div>
        </a>

        <div class="content">
            <h5>Converter</h5>
        </div>


    </div>
</div>